/* section background */


*{
  margin: 0;
  padding: 0;
}


#box {
  background-color: #222;
}

.top{
  background-color: blue;

}
header {
  height: 20rem;
}


.header-text{
  position: absolute;
  right: 1rem;
  top: 11rem;
  font-size: 6rem;
  display: inline-block;
}

.caculator-box{
  background-color: #222;
}
p{
  text-align: center;
  color: #fff;
  font-size: 3rem;
}